@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Tahoma', 'Segoe UI', sans-serif;
  margin: 0;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #0f172a;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #6366f1;
  border-radius: 3px;
}